{% load static %}
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
   <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dougal Server - predictive analytic server</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'business-frontpage.css' %}" rel="stylesheet">

  </head>
  
  
  <body>
     <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar" style="background-color: #2BD3EA">
      <div class="container">
        <a class="navbar-brand" href="#" style='color:#f8f9fa;'>Dougal Software</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" style='color:#f8f9fa;'>Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}" style='color:#f8f9fa;'>Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	{% block content %}
    {% endblock %}
	<!-- Footer -->
    <!--footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Oleksii Hunko &copy;  2018</p>
      </div>
      <!-- /.container -->
    </footer-->

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js'%}"></script>

</body></html>
