{% extends 'predictions/base_in.html' %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Integrations</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
          </div>
		  
		  <nav>
		  <div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">CSV file load</a>
			<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">REST API</a>
		  </div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
		  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
		  {% if error %}
	
					<div class="alert alert-danger" role="alert" style="margin:20px;">
					  Error: {{ error }}
					</div>
				{% endif %}
				
				{% if result %}
	
					<div class="alert alert-success" role="alert" style="margin:20px;">
					  Done: {{ result }}
					</div>
				{% endif %}

		  <div class="container">
			  <div class="row">
			  
				
	
				<form style="padding:20px;" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group">
					<label for="group_file">Import user groups CSV file</label>
					<input type="file" class="form-control-file" id="group_file" name='group_file'>
					<small id="groupFileHelp" class="form-text text-muted">Expected fields: OGID (original id), Name, Description (can be empty)</small>
				  </div>

				  <div class="form-group">
					<label for="user_file">Import users CSV file</label>
					<input type="file" class="form-control-file" id="user_file" name='user_file'>
					<small id="usersFileHelp" class="form-text text-muted">Expected fields: OID, Name (email, login, tel), Regiter Date, Status, Is Paid, Type Change Date, Status Change Date, Count (optional)</small>
				  </div>
				  
				  <div class="form-group">
					<label for="action_file">Import actions CSV file</label>
					<input type="file" class="form-control-file" id="action_file" name="action_file">
					<small id="actionsFileHelp" class="form-text text-muted">Expected fields: Action Name, Action Time, Result</small>
				  </div>
				  
				  
				  <div class="form-group">
					<label for="delimiter">CSV Delimiter</label>
					<input type="text" class="form-control" id="delimiter" name="delimiter" aria-describedby="emailHelp" value=",">
				  </div>
				  
				  <div class="form-group row">
					<label for="staticEmail" class="col-md-6 col-form-label">Current users count:</label>
					<div class="col-md-6">
					  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="0">
					</div>
				  </div>
	  
				  <button type="submit" class="btn btn-primary">Import</button>
				  <button type="submit" class="btn btn-default">Clear all</button>
				  
				</form>
			  </div>
			  <div class="row">
			  
			  </div>
		  </div>
		  </div>
		  
		  
		  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
			<div class="container">
			  <div class="row">
				In progress
			  </div>
			  
		  </div>
		  </div>

		</div>
		
			  
		</div>
          
		  
          
        </main>

  
{% endblock %}