{% extends 'predictions/base.html' %}

{% block content %}
    <!-- Header with Background Image -->
    <header class="business-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="display-3 text-center text-white mt-4">Data driven approach for your business</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <h2 class="mt-4">What We Do</h2>
          <p>Dougal Software is solution for predictive analytic oriented on understanding of customer behaviour. It helps you to predict customer convertion and churn, build segmentation of your users.</p>
          <p>Dougal will help you to improove your cutomers loyality and find weak places.</p>
          <p>
            <a class="btn btn-primary" href="/predictions/import">Go to Action &raquo;</a>
          </p>
        </div>
        <div class="col-sm-4">
          <h2 class="mt-4">Contact Us</h2>
          <address>
            <strong>Dougal Software</strong>
            <br>Vinnytsia
            <br>Ukraine
            <br>
          </address>
          <address>
            <abbr title="Phone">P:</abbr>
            +38097-607-5903
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:#">gunkooleksii@gmail.com</a>
          </address>
        </div>
      </div>
      <!-- /.row -->


    </div>
{% endblock %}