{% extends 'predictions/base.html' %}

{% block content %}
<div class="container">
	{% if error %}
	
		<div class="alert alert-danger" role="alert" style="margin:20px;">
		  Error: {{ error }}
		</div>
	{% endif %}

      <form class="form-signin" method='POST'>
	  {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputLogin" class="sr-only">Login</label>
        <input type="text" id="inputLogin" name="inputLogin" class="form-control" placeholder="User login" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
{% endblock %}