{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/import.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" type="text/css" rel="stylesheet" >
    <link href="{% static "css/font-awesome.min.css" %}" type="text/css" rel="stylesheet" >
    <link rel="icon" href="{% static "images/import.png"%}">

    <meta charset="UTF-8">
    <title>{% block title %}import {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" style="background-color:#020202!important;">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/">Statistic</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout/" style="color:#fffcfc;">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link"  href="/dashboard/">
                  <span><i class="fa fa-tachometer"  > </i></span>
                    <span>Dashboard</span>
                </a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" href="#">
                    <span><i class="fa fa-users"> </i></span>
                    <span>Users</span>
                </a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" href="/dashboard/importfile/users/">
                  <span><i class="fa fa-download"> </i></span>
                    <span>Import</span>
                </a>
              </li>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ user }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
          </div>
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="/dashboard/importfile/users/" role="tab" aria-controls="nav-home" aria-selected="true">Users</a>
                    <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="" role="tab" aria-controls="nav-profile" aria-selected="false">Actions</a>
                  </div>
                </nav>
                    <br><br>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12" >
                            <div class="wrap">
                                <p class="form-title">
                                    Import customer CSV file</p>

                                {% block message %}
                                    {% if message %}
                                        <div class="alert alert-success" role="alert">
                                        {{ message }}
                                        </div>
                                    {% elif error %}
                                        <div class="alert alert-danger" role="alert">
                                        {{ error }}
                                        </div>
                                    {% endif %}
                                {% endblock %}


                                <form  action="/dashboard/importfile/action/" method="post" enctype="multipart/form-data" >
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input class="file-upload "  type="file" id="customFileAction" name="customFileAction" multiple>
                                        <small id="emailHelp" class="form-text text-muted">Mandatory fields: UID, Type, Time, Result</small>
                                        <br>

                                    </div>
                                    <div class="form-group">
                                        <label for="delimiter">CSV Delimiter</label>
                                        <input type="text" class="form-control" id="delimiter" aria-describedby="emailHelp" value=",">
                                    </div>

                                      <div class="form-group row">
                                        <label for="staticEmail" class="col-md-6 col-form-label">Current actions count:</label>
                                        <div class="col-md-6">
                                          <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="315203">
                                        </div>
                                      </div>

                                      <button type="submit" class="btn btn-primary">Import</button>
                                      <button type="submit" class="btn btn-default">Clear all</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            <br>
            <div class="container">
				<div class="row">
			  <table class="table">
			  <thead>
				<tr>
				  <th scope="col">UID</th>
				  <th scope="col">Type</th>
				  <th scope="col">Time</th>
				  <th scope="col">Result</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <th scope="row">1</th>
				  <td>create.env</td>
				  <td>12/05/2017 12:15:33</td>
				  <td>0</td>
				</tr>
				<tr>
				  <th scope="row">2</th>
				  <td>add.ssl</td>
				  <td>16/01/2018 09:16:44</td>
				  <td>-1</td>
				</tr>
				<tr>
				  <th scope="row">1</th>
				  <td>common.finish</td>
				  <td>16/01/2018 010:20:55</td>
				  <td>0</td>
				</tr>
			  </tbody>
			</table>
			  </div>
					</div>


				</div>


			</div>

			<hr/>


			<hr/>

		  </div>

        </main>
      </div>
    </div>

    <link href="{% static "jq/jquery.js" %}">
    <link href="{% static "js/bootstrap.min.js"%}">

</body>
</html>



