
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static "css/font-awesome.min.css" %}" type="text/css" rel="stylesheet" >
    <link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/dashboard.css" %}" type="text/css" rel="stylesheet" >
    <link rel="icon" href="{% static "images/dashboard-icon-3.png"%}">

    <meta charset="UTF-8">
   <title> {% block title %} dashboard {% endblock %} </title>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" style="background-color:#020202!important;">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard/">Statistic</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout/" style="color:#fffcfc;">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link"  href="#">
                  <span><i class="fa fa-tachometer"  > </i></span>
                    <span>Dashboard</span>
                </a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" href="#">
                    <span><i class="fa fa-users"> </i></span>
                    <span>Users</span>
                </a>
              </li>
			  <li class="nav-item">
                <a class="nav-link" href="/dashboard/importfile/">
                  <span><i class="fa fa-download"> </i></span>
                    <span>Import</span>
                </a>
              </li>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ user }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
            </div>
          </div>


		  <div class="container">

		  <!-- Icon Cards-->
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white o-hidden h-100" style="background-color: #209daf!important">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-shopping-cart"></i>
              </div>
              <div style="margin-left:70px;">26 Users ready for convertion!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white o-hidden h-100" style="background-color: #FC6C2D">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-fw fa-support"></i>
              </div>
              <div style="margin-left:70px;">11 Users with high churn rate</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white o-hidden h-100" style="background-color: #20B033">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-line-chart"></i>
              </div>
              <div style="margin-left:70px;">x1.3 increase of account lifetime!</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
          <div class="card text-white o-hidden h-100" style="background-color: #41d7ec">
            <div class="card-body">
              <div class="card-body-icon">
                <i class="fa fa-gavel"></i>
              </div>
              <div style="margin-left:70px;">5 users with possible fraud</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
              <span class="float-left">View Details</span>
              <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

		  <div class="row">
			  <div class="col-sm">
			  <div class="card">
				<div class="card-header">Churn prediction</div>
				<canvas class="my-4 w-100 chartjs-render-monitor" id="myChart"></canvas>
			  </div>

			  </div>

				<div class="col-sm">
					<div class="card">
					<div class="card-header">Convertion statistics</div>
						<canvas class="my-4 w-100 chartjs-render-monitor" id="chartdiv"></canvas>
					</div>

			  </div>
		  </div>
		  <hr/>
		  			<div class="row" style="margin-top:20px;">
				<div class="col-sm">
					<div class="card">
					<div class="card-header">Users with anomalies</div>
					<div class="card-body">
						<div class="table-responsive">
					<table class="table table-striped table-sm">
					  <thead>
						<tr>
						  <th>ID</th>
						  <th>User name</th>
						  <th>Email</th>
						  <th>Type</th>
						  <th>Anomaly Type</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>352</td>
						  <td>John Doe</td>
						  <td>john@test.mail</td>
						  <td>Trial</td>
						  <td>Fraud Probability > 70%</td>
						</tr>
						<tr>
						  <td>356</td>
						  <td>Joan Doe</td>
						  <td>joan@test.mail</td>
						  <td>Paid</td>
						  <td>Churn Rate > 80%</td>
						</tr>
						<tr>
						  <td>1003</td>
						  <td>Peter Griffin</td>
						  <td>peter@test.mail</td>
						  <td>Paid</td>
						  <td>Errors in actions > 30 %</td>
						</tr>
						<tr>
						  <td>1052</td>
						  <td>John Doe</td>
						  <td>john@test.mail</td>
						  <td>Trial</td>
						  <td>Non typical actions</td>
						</tr>

					  </tbody>
					</table>
				  </div>
					</div>
					</div>

				</div>


			</div>

			<hr/>


			<hr/>

		  </div>

        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jq/jquery-3.3.1.slim.min.js"%}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static "jq/jquery-3.2.1.min.js" %}"></script>')</script>
    <script src="{% static "js/popper.min.js" %}"></script>


    <!-- Icons -->
    <script src="{% static "js/feather.min.js" %}"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="{% static "chart/Chart.min.js" %}"></script>
    <script>
      var ctx = document.getElementById("myChart");
	  var chartDiv = document.getElementById("chartdiv");

	  var myBarChart = new Chart(chartDiv, {
        type: 'line',
        data: {
          labels: ["Monday", "Tuesday", "Wednesday","Thursday","Friday","Sutarday","Sunday"],
          datasets: [{
			label: '# of real users',
            data: [15, 8, 7, 13, 22, 3,15],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#FC6C2D',
            borderWidth: 4,
            pointBackgroundColor: '#FC6C2D'
          },
		  {
			label: '# of predicted users',
            data: [20, 10, 5, 15, 18, 10, 8],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#20B033',
            borderWidth: 4,
            pointBackgroundColor: '#20B033'
          }]
        }
		,
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
		  title: {
            display: false,
			},
          legend: {
            display: true,
			labels: {
				text: 'Churn users'
			}
          }
        }
      });

      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["May", "June", "July","August"],
          datasets: [{
			label: '# of predicted users',
            data: [15, 8, 7, 13],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#41d7ec',
            borderWidth: 4,
            pointBackgroundColor: '#41d7ec'
          },
		  {
		  label: '# of real users',
            data: [21, 18, 16, 5],
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#20B033',
            borderWidth: 4,
            pointBackgroundColor: '#20B033'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              }
            }]
          },
		  title: {
            display: false,
			},
          legend: {
            display: true,
			labels: {

				text: 'Churn users'
			}
          }
        }
      });
    </script>

    <link href="{% static "jq/jquery.js" %}">
    <link href="{% static "js/bootstrap.min.js"%}">
</body>
</html>