{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static "images/login-icon.jpg"%}">
    <link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/my.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" type="text/css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>{% block title %}signIn {% endblock %}</title>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-12" >
            <div class="wrap">
                <p class="form-title">
                    Upload</p>

                {% block message %}
                    {% if message %}
                        <div class="alert alert-success" role="alert">
                        {{ message }}
                        </div>
                    {% endif %}
                {% endblock %}




                    <form action="/dashboard/importfile/" method="post" enctype="multipart/form-data">

                    {% csrf_token %}
                <div class="custom-file">
                  <input type="file"   id="customFile" name="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                    <button class="btn-primary" type="submit">Submit</button>
                </div>
                    </form>


            </div>
        </div>
    </div>
</div>

</body>
</html>



