{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static "images/login-icon.jpg"%}">
    <link href="{% static "css/bootstrap.min.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/my.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" type="text/css" rel="stylesheet">

    <meta charset="UTF-8">
    <title>{% block title %}signIn {% endblock %}</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-dark" type="submit">Submit</button>
                    <a class="btn-link"  href="/register/" >Registration</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>